.Menu{
  text-align: center;
  color: #cfb66b;
  background-color: #282c34;

}
.Menu-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #cfb66b;
}
.Menu-link {
  color: #cfb66b;
}